.Header-Icon {
  width: 45px;
  height: 45px;
  fill: black;
  margin-right: 20px;
}

.Header-Profile {
  .Header-Profile_user {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  color: rgba(0, 0, 0, 0.7)!important;

  &:hover {
    color: #0a58ca!important;

    .Header-Profile_user {
      fill: #0a58ca;
    }
  }
}

.navbar-nav {
  .nav-link {
    color: rgba(0, 0, 0, 0.7)!important;
    border-radius: 30px;

    &:hover {
      color: rgba(0, 0, 0, 0.55)!important;
      background-color: rgba(0, 0, 0, 0.1);
      transition: 1s all;
    }
  }
}

//.navbar-light .navbar-nav .nav-link:hover {
//  color: rgba(0, 0, 0, 0.55);
//  background-color: rgba(0, 0, 0, 0.1);
//  transition: 1s all;
//}
//
//.navbar-light .navbar-nav .nav-link {
//  color: rgba(0, 0, 0, 0.7);
//  border-radius: 30px;
//}
